body {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.nav {
  padding: 40px 0;
  align-items: center;
  justify-content: space-between;
}

.nav__list {
  display: flex;
  gap: 21px;
  margin-bottom: 0;
  padding-left: 0;
}

.nav__item-link {
  color: #333333;
  line-height: 140%;
}

.nav__search {
  display: flex;
  gap: 15px;
}

.search-input {
  width: 150px;
  border: none;
  border-bottom: 1px solid #333333;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

.search-btn {
  background-color: inherit;
  border: none;
}

.language {
  border: none;
  background-color: inherit;
  font-weight: 700;
  line-height: 140%;
}

.visma {
  background-image: url("../img/bg.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 750px;
}

.visma .container .row {
  padding-top: 113px;
}

.visma .container .row .visma__info .row {
  padding: 0;
}

.visma__text {
  padding-top: 67px;
}

.visma__header {
  font-weight: 700;
  line-height: 140%;
  font-size: 50px;
  color: #FFFFFF;
  margin-bottom: 40px;
}

.visma__sub-header {
  line-height: 140%;
  color: #FFFFFF;
  margin-bottom: 60px;
  max-width: 322px;
}

.visma__about {
  text-transform: uppercase;
  color: #FFFFFF;
  font-weight: 700;
  display: flex;
  gap: 15px;
  align-items: center;
}

.row .visma__info-container {
  padding: 0;
  gap: 24px;
  justify-content: center;
}

.visma__info-items {
  background-color: #5DB7DE;
  border-radius: 20px;
  padding: 30px;
  width: 306px;
}

.visma__info-items-header {
  font-weight: 700;
  font-size: 13px;
  line-height: 140%;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0;
  margin-bottom: 118px;
}

.visma__info-items-text {
  font-size: 19px;
  font-weight: 700;
  line-height: 140%;
  color: #FFFFFF;
  margin: 0;
}

@media (max-width: 1399px) {
  .visma__info-container .visma__info-items {
    width: 47%;
    padding: 25px;
  }

  .visma__info-items-text {
    font-size: 16px;
  }
}
@media (max-width: 1199px) {
  .visma__info-items-text {
    font-size: 15px;
  }
}
.services__header {
  font-size: 40px;
  font-weight: 700;
  line-height: 140%;
  color: #333333;
}

.services__list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 31px;
}

.services__wrapper {
  justify-content: space-between;
  padding: 150px 0;
}

.services__link {
  display: flex;
  align-items: center;
}

.services__link img {
  height: 34px;
}

.services__cards {
  gap: 24px;
}

.services__card {
  width: 368px;
  height: 223px;
  background-color: #3D348B;
  color: #FFFFFF;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.services__card-items-header,
.services__card-items-text {
  margin: 0;
}

.services__card-items-header {
  font-weight: 700;
  font-size: 16px;
  padding: 30px 15px 0;
  margin-bottom: 118px;
}

.services__card-items-text {
  font-weight: 700;
  font-size: 19px;
  padding: 0 5px;
}

@media (max-width: 1199px) {
  .services__card {
    width: 304px;
  }

  .services__card-items-header {
    margin-bottom: 100px;
  }
}

/*# sourceMappingURL=style.css.map */
