// Variables
$purple: #3D348B;
$black: #333333;
$white: #FFFFFF;
$blue: #5DB7DE;

$fw-400: 400;
$fw-700: 700;

// Base settings
body {
  font-family: 'PT Sans', sans-serif;
  font-weight: $fw-400;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

// Styles
.header .container .nav {
  padding: 40px 0;
  align-items: center;
  justify-content: space-between;
}

.nav__list {
  display: flex;
  gap: 21px;
  margin-bottom: 0;
  padding-left: 0;
}

.nav__item-link {
  color: $black;
  line-height: 140%;
}

.nav__search {
  display: flex;
  gap: 15px;
}

.search-input {
  width: 150px;
  border: none;
  border-bottom: 1px solid $black;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

.search-btn {
  background-color: inherit;
  border: none;
}

.language {
  border: none;
  background-color: inherit;
  font-weight: $fw-700;
  line-height: 140%;
}

// First Screen
.visma {
  background-image: url('../img/bg.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 750px;
}

.container .row {
  padding-top: 113px;
}

.visma__header {
  font-weight: $fw-700;
  line-height: 140%;
  font-size: 50px;
  color: $white;
  margin-bottom: 40px;
}

.visma__sub-header {
  line-height: 140%;
  color: $white;
  margin-bottom: 60px;
  max-width: 322px;
}

.visma__about {
  text-transform: uppercase;
  color: $white;
  font-weight: $fw-700;
  display: flex;
  gap: 15px;
  align-items: center;
}

.row .visma__info-container {
  padding: 0;
  gap: 24px;
  justify-content: center;
}

.visma__info-items {
  background-color: $blue;
  border-radius: 20px;
  padding: 30px;
  width: 306px;
}

.visma__info-items-header {
  font-weight: $fw-700;
  font-size: 13px;
  line-height: 140%;
  text-transform: uppercase;
  color: $white;
  margin: 0;
  margin-bottom: 118px;
}

.visma__info-items-text {
  font-size: 19px;
  font-weight: $fw-700;
  line-height: 140%;
  color: $white;
  margin: 0;
}

@media (max-width: 1399px) {
  .visma__info-container .visma__info-items {
    width: 47%;
    padding: 25px;
  }

  .visma__info-items-text {
    font-size: 16px;
  }
}

@media (max-width: 1199px) {
  .visma__info-items-text {
    font-size: 15px;
  }
}