// Variables
$purple: #3D348B;
$black: #333333;
$white: #FFFFFF;
$blue: #5DB7DE;

$fw-400: 400;
$fw-700: 700;

// Base settings
body {
  font-family: 'PT Sans', sans-serif;
  font-weight: $fw-400;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

// Styles

.nav {
  padding: 40px 0;
  align-items: center;
  justify-content: space-between;
}

.nav__list {
  display: flex;
  gap: 21px;
  margin-bottom: 0;
  padding-left: 0;
}

.nav__item-link {
  color: $black;
  line-height: 140%;
}

.nav__search {
  display: flex;
  gap: 15px;
}

.search-input {
  width: 150px;
  border: none;
  border-bottom: 1px solid $black;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

.search-btn {
  background-color: inherit;
  border: none;
}

.language {
  border: none;
  background-color: inherit;
  font-weight: $fw-700;
  line-height: 140%;
}

// First Screen
.visma {
  background-image: url('../img/bg.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 750px;
}

.visma .container .row {
  padding-top: 113px;
}

.visma .container .row .visma__info .row {
  padding: 0;
}

.visma__text {
  padding-top: 67px;
}

.visma__header {
  font-weight: $fw-700;
  line-height: 140%;
  font-size: 50px;
  color: $white;
  margin-bottom: 40px;
}

.visma__sub-header {
  line-height: 140%;
  color: $white;
  margin-bottom: 60px;
  max-width: 322px;
}

.visma__about {
  text-transform: uppercase;
  color: $white;
  font-weight: $fw-700;
  display: flex;
  gap: 15px;
  align-items: center;
}

.row .visma__info-container {
  padding: 0;
  gap: 24px;
  justify-content: center;
}

.visma__info-items {
  background-color: $blue;
  border-radius: 20px;
  padding: 30px;
  width: 306px;
}

.visma__info-items-header {
  font-weight: $fw-700;
  font-size: 13px;
  line-height: 140%;
  text-transform: uppercase;
  color: $white;
  margin: 0;
  margin-bottom: 118px;
}

.visma__info-items-text {
  font-size: 19px;
  font-weight: $fw-700;
  line-height: 140%;
  color: $white;
  margin: 0;
}

@media (max-width: 1399px) {
  .visma__info-container .visma__info-items {
    width: 47%;
    padding: 25px;
  }

  .visma__info-items-text {
    font-size: 16px;
  }
}

@media (max-width: 1199px) {
  .visma__info-items-text {
    font-size: 15px;
  }
}

// services
.services__header {
  font-size: 40px;
  font-weight: 700;
  line-height: 140%;
  color: $black;
}

.services__list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 31px;
}

.services__wrapper {
  justify-content: space-between;
  padding: 150px 0;
}

.services__link {
  display: flex;
  align-items: center;
}

.services__link img {
  height: 34px;
}

.services__cards {
  gap: 24px;
}

.services__card {
  width: 368px;
  height: 223px;
  background-color: $purple;
  color: $white;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.services__card-items-header,
.services__card-items-text {
  margin: 0;
}

.services__card-items-header {
  font-weight: $fw-700;
  font-size: 16px;
  padding: 30px 15px 0;
  margin-bottom: 118px;
}

.services__card-items-text {
  font-weight: $fw-700;
  font-size: 19px;
  padding: 0 5px;
}

@media (max-width: 1199px) {
  .services__card {
    width: 304px;
  }

  .services__card-items-header {
    margin-bottom: 100px;
  }
}

// About
.about {
  height: 876px;
  background-color: lightgray;
}

.about__header {
  margin-bottom: 0;
  font-size: 40px;
  font-weight: 700;
  line-height: 140%;
  color: $black;
  margin-bottom: 60px;
}

.about__wrapper {
  padding: 100px 0 110px;
  justify-content: space-between;
}

.about p {
  margin-bottom: 0;
}

.about__first-list_item {
  list-style: disc;
}

.about .about__sub-header,
.about .about__first-list,
.about .about__second-list {
  margin-bottom: 16px;
}

.about__img-wrapper {
  width: 100%;
  height: 350px;
  background-image: url('../img/about-img.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.about__img-sub-heading {
  width: 100%;
  background-color: $blue;
  color: $white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 35px;
  gap: 38px;
}

.img-sub-heading__header {
  margin-bottom: 0;
  font-size: 13px;
  text-transform: uppercase;
}

.img-sub-heading__sub-header {
  font-size: 19px;
}

// News
.news__wrapper {
  padding: 150px 0;
  justify-content: center;
}

.news__header-wrapper {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}

.news__header {
  font-weight: $fw-700;
  font-size: 40px;
  line-height: 140%;
  margin-bottom: 0;
}

.news__link {
  display: flex;
  gap: 15px;
  font-weight: $fw-700;
  text-transform: uppercase;
  color: $purple;
  align-items: center;
}

.news__card {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.news__card-img {
  width: 100%;
  height: 214px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

.news__card-img_img1 {
  background-image: url('../img/news-img-1.png');
}

.news__card-img_img2 {
  background-image: url('../img/news-img-2.png');
}

.news__card-img_img3 {
  background-image: url('../img/news-img-3.png');
}

.news__card-img_img4 {
  background-image: url('../img/news-img-4.png');
}

.news__card-date {
  font-weight: $fw-700;
  font-size: 13px;
  margin-bottom: 15px;
  display: inline-block;
}

.news__card-header {
  font-weight: $fw-700;
  font-size: 19px;
  margin-bottom: 12px;
}

.news__card-text {
  font-size: 14px;
}